* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#logo {
color: green;
}

#hamburger {
    display: flex;
    width: 40px;
    flex-direction: column;
}

#hamburger span {
    height: 4px;
    background: black;
    width: 100%;

}

#hamburger span:nth-child(2) {
    /* dans l'ordre haut droite bas gauche */
margin: 4px 0 4px 0;

}


main section {
    height: 1000px;
    background: green;
}

@media screen and (max-width:980px) {
#logo {
    color: red;
}
}